<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
    <p>Comenzamos el primer proyecto con un "Hola Mundo" básico.</p>
    <ul><b>Datos del usuario</b> 
        <li>Nombre: <span th:text="${name}"></span></li>
        <li>Apellido: <span th:text="${lastname}"></span></li>
        <li th:if="${email}">Email: <span th:text="${email}"></span></li>
    </ul>
    <p>A fecha de <span th:text="${date}"></span></p>
    <a th:href="@{/list}">Ver listado</a><br>
    <a th:href="@{'/api/params/foo?message=' + ${title}}">Ver mensaje</a><br>
    <a th:href="@{/api/params/foo(message='hola holita vecinito')}">Ver mensaje 2</a><br>
    <a th:href="@{/api/params/bar(text='hola holita vecinito', code=1234)}">Ver mensaje 3</a><br>
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver path variable</a><br>

</body>
</html>